.button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 30px;
  flex-wrap: wrap;
  padding: 0 1rem;
  font-size: 1.2rem;
  cursor: pointer;
  font-family: "M PLUS Rounded 1c", sans-serif;
  transition: background-color 0.2s ease-in-out;
}
