.partnersContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  padding-top: 8rem;
}

@media (max-width: 767px) {
  .partnersContainer {
    flex-direction: column;
  }
}

.imageWrapper {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 200px;
  margin: 1rem 0;
}
