:root {
  --color-gold: #c9a227;
  --color-white: #ffffff;
  --color-turquoise: #1abc9c;
  --color-gray: #4f4f4f;
  --color-black: #000000;
  --color-muted: #666666;
  --color-bg: #ffffff;
}

@font-face {
  font-family: "Fredoka SemiExpanded Medium";
  src: url("/fonts/Fredoka/static/Fredoka_SemiExpanded-Medium.ttf")
    format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Huninn";
  src: url("/fonts/Huninn-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  --header-height: 80px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --header-height: 20px;
  }
}

html,
body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #fff !important;
  color: #222 !important;
}

.home-background {
  background: transparent !important;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
