.contactContainer {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  padding-top: 9rem;
  background-image: url("/images/enroll_background5.png");
  background-size: cover;
  background-position: center;
}

@media (max-width: 768px) {
  .contactContainer {
    background-image: url("/images/enroll_background8.png");
    justify-content: center;
    align-items: center;
  }
}

.header {
  font-family: "M PLUS Rounded 1c", sans-serif;
}

@media (max-width: 768px) {
  .header {
    font-size: 22px;
  }
}

.text {
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-size: 18px;
  line-height: 28px;
  padding: 0.5rem 0;
}

.textContainer {
  text-align: center;
}

.fieldGroup {
  display: flex;
  flex-direction: column;
}

.inputHeader {
  font-family: "M PLUS Rounded 1c", sans-serif;
  margin: 0 0.35rem;
}

.input {
  width: 25rem;
  padding: 0.75rem;
  margin: 0.75rem 0;
  border-radius: 12px;
  border: 1px solid #ccc;
  font-size: 1rem;
  background-color: #f9f9f9;
}

.input::placeholder {
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-size: 18px;
}

@media (max-width: 768px) {
  .input {
    font-size: 14px;
    width: 17rem;
  }
}

.textarea {
  width: 25rem;
  height: 15rem;
  padding: 0.75rem;
  margin: 0.75rem 0;
  border-radius: 12px;
  border: 1px solid #ccc;
  font-size: 1rem;
  background-color: #f9f9f9;
  resize: none;
}

.textarea::placeholder {
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-size: 18px;
}

@media (max-width: 768px) {
  .textarea {
    font-size: 14px;
    width: 17rem;
  }
}

.errorSpan {
  color: red;
  font-size: 0.85rem;
  margin-top: 0.25rem;
}

.fieldsContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 4rem;
}

@media (max-width: 768px) {
  .fieldsContainer {
    margin-top: 1.7rem;
  }
}

.formContainer {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: 2rem;
}

@media (max-width: 768px) {
  .formContainer {
    margin-top: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.iframeContainer {
  flex: 1;
  display: flex;
  padding: 0 4rem;
  flex-direction: column;
}

@media (max-width: 768px) {
  .iframeContainer {
    padding: 2rem;
    line-height: 20px;
  }
}

.styledIframe {
  width: 100%;
  min-height: 300px;
  height: 40vw;
  max-height: 450px;
  border: 0;
  border-radius: 16px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
}

@media (max-width: 768px) {
  .styledIframe {
    height: 300px;
    min-height: 160px;
  }
}

.detailsContainer {
  line-height: 3rem;
}

@media (max-width: 768px) {
  .detailsContainer {
    margin: 1rem 0;
  }
}

.buttonContainer {
  margin: 2rem;
}

@media (max-width: 768px) {
  .buttonContainer {
    margin: 1rem 2rem;
  }
}

.counter {
  font-size: 0.75rem;
  color: var(--color-grey);
}
