.backgroundWrapper {
  background-image: url("/images/enroll_background4.png");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}

.aboutUsContainer {
  display: flex;
  flex-direction: column;
  padding: 10rem 18rem;
}

@media (max-width: 767px) {
  .aboutUsContainer {
    padding: 9rem 1.5rem 2rem 1.5rem;
  }
}

.aboutUsText {
  font-family: "M PLUS Rounded 1c", sans-serif;
  flex-wrap: wrap;
  font-size: 22px;
  line-height: 38px;
}

@media (max-width: 767px) {
  .aboutUsText {
    font-size: 18px;
    line-height: 30px;
  }
}

.textContainer {
  margin-bottom: 1rem;
}

@media (max-width: 767px) {
  .textContainer {
    margin: 0;
  }
}

.kesemImages {
  display: flex;
  align-items: center;
  justify-content: center;
}
