.footerContainer {
  display: flex;
  background-color: var(--color-gray);
  margin: 0;
  padding-top: 2%;
  flex: 1;
  flex-direction: column;
  justify-content: flex-end;
}

.footerDirection {
  display: flex;
  flex: 1;
  flex-direction: row;
  width: 100%;
}

.text {
  color: var(--color-white);
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-size: 20px;
}

.leftContent {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
  padding: 0 5%;
  flex: 1;
}

.rightContent {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 15%;
  flex: 1;
  gap: 0.65rem;
}

.iconLink {
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.row {
  display: flex;
  flex-direction: row;
}

.icon {
  padding-left: 5px;
  padding-top: 3px;
}

.businessLogo {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 2px;
  width: 100%;
  /* background-color: aqua; */
  padding: 10px 0;
  align-self: flex-end;
}

.businessLogoText {
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-size: 15px;
  color: azure;
  text-align: center;
}

@media (max-width: 767px) {
  .leftContent {
    padding: 10% 10%;
  }
  .rightContent {
    padding: 10% 10%;
  }
}

@media (max-width: 767px) {
  .text {
    font-size: 19px;
  }
}

@media (max-width: 767px) {
  .footerContainer {
    flex-direction: column;
    height: auto;
  }
  .footerDirection {
    flex-direction: column;
  }
  .businessLogo {
    flex-direction: column;
    gap: 0;
    padding: 2% 5% 0 5%;
    align-items: center;
  }
  .businessLogoText {
    text-align: center;
  }
}
