.footerContainer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: var(--color-gray);
  height: 15rem;
  gap: 2rem;
}

@media (max-width: 767px) {
  .footerContainer {
    flex-direction: column;
    height: auto;
    padding: 2rem 0;
  }
}

.text {
  color: var(--color-white);
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-size: 20px;
}

@media (max-width: 767px) {
  .text {
    font-size: 19px;
  }
}

.leftContent {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  flex: 1;
  gap: 1rem;
  padding: 0 10rem;
}

@media (max-width: 767px) {
  .leftContent {
    padding: 2rem;
  }
}

.rightContent {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  gap: 0.65rem;
}

.iconLink {
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.row {
  display: flex;
  flex-direction: row;
}

.icon {
  padding-left: 5px;
  padding-top: 3px;
}
