.imagesContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}

@media (max-width: 768px) {
  .imagesContainer {
    flex-direction: column;
    padding: 1rem 0.5rem;
  }
}

.imageStyle {
  width: 400px;
  height: 300px;
  object-fit: cover;
  padding: 0 0.4rem;
}

@media (max-width: 768px) {
  .imageStyle {
    width: 340px;
    height: 250px;
    padding: 0.4rem 0;
  }
}
